<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.dicj.ato_fr_musicplayer">

    <uses-permission android:name="android.permission.WAKE_LOCK" /><!--cette autorisation pour permettre de continuer la lecture de la musique quand que le téléphone de l'utilisateur se met en veille -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

            <activity android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>

            </activity>

            <activity
                android:name=".theme"
                android:label="Themes"
                android:parentActivityName=".MainActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
            </activity>


            <activity
                android:name=".bibliotheque"
                android:label="Bibliotheque"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop">

                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />

            </activity>

            <service android:name=".MusicService" />

    </application>

</manifest>